<!DOCTYPE html>
<html>
<head>
  <title>情報基礎1クラスのなかまたち</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>
<footer>
  <p>GitHub: <a href="https://github.com/itochan/itbasic.itochan.jp">itochan/itbasic.itochan.jp</a></p>
  <p>
    (C) itochan 2015
  </p>
</footer>
</body>
</html>
